span.rb-delimiter, span.rb-special{color:rgb(255,208,128);}
span.rb-operator{color:rgb(255,208,128);}
span.rb-error{background-color:#660000; color:#FFFFFF;}
span.rb-keyword{color:rgb(255,160,80); font-weight:bold;}
span.rb-number{color:rgb(255,208,208);}
span.rb-identifier, span.rb-func{color:rgb(255,208,208);}
span.rb-type, span.rb-decorator{color:rgb(255,208,80);}
span.rb-comment{color:rgb(255,240,160);}
span.rb-string, span.rb-bytes, span.rb-raw, span.rb-unicode{color:rgb(255,176,240);}
span.rb-method {color: rgb(0,153,255);}
span.rb-su-class {color:rgb(255,255,153); font-weight:bold;}