span.css-at {color: rgb(255,224,0);}
span.css-unit {color: rgb(255,192,128);}
span.css-value {color: rgb(255,192,192);}
span.css-identifier {color: rgb(255,112,128);}
span.css-selector {color: rgb(255,160,80);}
span.css-important {color: rgb(255,128,32);}
span.css-colorcode {color: rgb(255,208,80);}
span.css-comment {color: rgb(255,240,160);}
span.css-string {color: rgb(255,240,208);}
