span.xml-tag {color: rgb(255,144,64);}
span.xml-attribute {color: rgb(255,208,48);}
span.xml-attname {color: rgb(255,240,16);}
span.xml-comment {color: rgb(153,204,153);}
span.xml-cdata {color: rgb(51,204,255)}
span.xml-processing {color: rgb(255,255,153);}
span.xml-entity {color: rgb(255,204,0);}
